---
layout: page
excerpt: ""
---

{% assign selection = site.content | where_exp:"post","post.title != page.title" | where_exp:"post","post.path contains page.selectionString" | sort: "order" | group_by: "ref" %}
{% assign prev_category = "" %}

{% for section in selection %}

        {% assign pathComponents = section.items[0].path | split: "/" %}
        <h2 class="c-archives__year" id="{{ section.name }}">{{ pathComponents[2] | capitalize }}</h2>
        <ul class="c-archives__list">

            {% for item in section.items %}
                <li class="c-archives__item">
                    <h3><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></h3>
                    <p>{{ page.selectionString | upcase }}-{{ section.name }}-{{ item.order }}</p>
                    <div style="margin-top: 10px"><p>{{ item.excerpt }}</p></div>
                </li>
            {% endfor %}

        </ul>
        
{% endfor %}
